<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
        <h1>Visa kurser</h1>
        <a href="/add">Lägg till kurs</a>
        <table border="1">
            <tr>
                <th>Kurskod</th>
                <th>Kursnamn</th>
                <th>Kursplan</th>
                <th>Progression</th>
                <th>Åtgärder</th>
            </tr>
            <% courses.forEach(course => { %>
                <tr>
                    <td><%= course.coursecode %></td>
                    <td><%= course.coursename %></td>
                    <td><a href="<%= course.syllabus %>">Länk till kursplan</a></td>
                    <td><%= course.progression %></td>
                    <td><a href="/delete/<%= course.id %>">Radera</a></td>
                </tr>
            <% }) %>
        </table>

        <a href="/about">Om denna webbplats</a>
</body>
</html>